apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: wiki-{{ .Values.env }}
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: zem-external-{{ .Values.env }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
  source:
    repoURL: https://github.com/danfoster/zem-gitops
    targetRevision: main
    path: apps/zem-external/wiki
    helm:
      releaseName: wiki-{{ .Values.env }}
      valuesObject:
      {{- toYaml .Values.wiki | nindent 8 }}
  destination:
    server: "https://kubernetes.default.svc"
    namespace: zem-external-{{ .Values.env }}
  ignoreDifferences:
    - group: argoproj.io
      kind: Application
      jsonPointers:
      - /spec/syncPolicy