{{ if .Values.features.node_exporter.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: node-exporter
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: infra-monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  source:
    repoURL: https://github.com/danfoster/zem-gitops
    targetRevision: main
    path: apps/infra/zem-node-exporter
    helm:
      releaseName: node-exporter
  destination:
    server: "https://kubernetes.default.svc"
    namespace: monitoring
{{ end }}