argo-cd:
  configs:
    cm:
      create: false
    params:
      server.insecure: true
    rbac:
      policy.default: role:readonly
      policy.csv: |
        g, dan@zem.org.uk, role:admin
      scopes: "[email]"
  dex:
    livenessProbe:
      enabled: true
globals:
  domain: argocd-cluster01.shark-puffin.ts.net
